@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model MyAlloySite.Models.Pages.JoeStandardPage

<div>
    <h1>@Html.PropertyFor(m => m.Heading)</h1>
    @Html.PropertyFor(m => m.MainBody)
</div>